*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
    
}

header{
    width: 100%;
    margin: 0 auto;
    background-color: orangered;

}

nav{
    width: 70%;
    margin: 0 auto;
    height: 6rem;
    color: white;
    
}

main{
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;

}

#boolean{
    width: 17rem;
}

ul{
    list-style: none;
    padding-top: 1rem;
    
}

li{
    padding-right: 1rem;
}

.people{
    position: absolute;

}

.logo{
    width: 100%;
    position: absolute;
    display: inline-block;
    left: calc(350% - 20px);
}

div.column{
    

    width: calc(100% / 3);
    text-align: center;
    
}

div.column img{
    width: 85%;

}

div.card{
    position: relative;
}

span.discount{
    position: absolute;

    background-color: red;
    top: 10%;
    left: 0%;
}