*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
    
}

header{
    width: 100%;
    margin: 0 auto;
    background-color: orangered;

}

nav{
    max-width: 1200px;
    margin: 0 auto;
    height: 6rem;
    color: white;
    
}

main{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;

}

ul{
    list-style: none;
    padding-top: 1rem;
    width: 25%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: start;
}


#boolean{
    width: 50%;
    display: flex;
    justify-content: center;
}

.social{
    width: 25%;
    display: flex;
    justify-content: end;
}

li{
    padding-right: 1rem;
}

.people{
    position: absolute;

}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

div.column{

    width: calc(100% / 3);
    text-align: center;
    padding: 0 2rem;
}

div.column img{
    width: 100%;
    

}

div.card{
    position: relative;
}

span.discount{
    position: absolute;

    background-color: red;
    bottom: 5%;
    left: 0%;
    font-size: 1.5rem;
}

span.sost{
    position: absolute;

    background-color: green;
    bottom: 5%;
    left: 5%;
    left: 12%;
    font-size: 1.5rem;

}

#red{
    color:red
}

p,
h1{
    text-align: start;
}