*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header{
    width: 100%;
    margin: 0 auto;
    background-color: orangered;

}

nav{
    height: 6rem;
    color: white;
    padding-left: 14rem;
    
}

main{
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;

}

ul{
    list-style: none;
    padding-top: 1rem;
    width: 25%;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: start;
    padding-top: 2rem;
}


#boolean{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    
    
}

.social{
    width: 25%;
    display: flex;
    justify-content: end;
    padding-right: 14rem;
    color: white;
    padding-top: 2rem;
}

li{
    padding-right: 1rem;
}

.people{
    position: absolute;

}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    padding-bottom: 3rem;
}

div.column{

    width: calc(100% / 3);
    text-align: center;
    padding: 0 2rem;
}

div.column img{
    width: 100%;
    

}

div.card{
    position: relative;
}

span.discount{
    position: absolute;

    background-color: red;
    bottom: 5%;
    left: 0%;
    font-size: 1.5rem;
}

.hearts{
    position: absolute;

    font-size: 3rem;
    right: 0;
    top: 1%;
    background-color: white;
}

span.sost{
    position: absolute;

    background-color: green;
    bottom: 5%;
    left: 5%;
    left: 12%;
    font-size: 1.5rem;

}

span.soste{
    position: absolute;

    background-color: green;
    bottom: 5%;
    left: 0%;
    font-size: 1.5rem;
}

#red{
    color:red
}

p,
h1{
    text-align: start;
}

footer{
    height: 100px;
    background-color: rgb(34, 32, 32);
    color: white;
}

.none{
    display: none;
    width: 100%

}

div.card:hover div.none{
    display: inline-block;
}

.mini{
    font-size: 1rem ;
}

.info{
    padding-top: 2rem;
}
